.react-calendar {
  background-color: #111 !important;
  color: #eee;
  border: 1px solid #333;
  border-radius: 8px;
}

.react-calendar__tile {
  color: #ddd;
}

.react-calendar__tile--active {
  background: #2563eb !important;
  color: #fff !important;
  border-radius: 6px;
}

.react-calendar__month-view__days__day--weekend {
  color: #f87171;
}
